*{
    font-family: sans-serif;
    
}

body{
    background-color: wheat;
    margin: 10px;

}
hr{
    border-color: black;
    
}

#masterContainer{
    border-radius: 25px;
    border: solid white;
    background-color:rgb(237, 162, 50);
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 300px;margin-left: 300px;
    
    
}
.col{
    width: 50%;
    border: solid white;
    margin: 25px;
    padding: 10px;
    font-family: sans-serif;
    background-color: wheat;
    border-radius: 25px;
    align-self: center;
    box-shadow: 5px 10px 8px 10px #f05e1b;
    
}
#inline{
    
}
.list li{
    padding-bottom: 10px;
    font-size: 20px;
}
ul{
    padding-left: 25%;
}
.col img{
    max-width: 100%;
    height: auto;
}
.col h2{
    text-align: center;
}

hr{
    border-color: white;
    border-style: double;
}
#buttons{
    text-align: center;
   
}

.button{
    margin: 20px;
    font-size: 25px;
    background-color:rgb(237, 162, 50);
    border: solid white;
    color: white;
    border-radius: 25px;
    padding: 15px 32px;
    width: 200px;
}

p{
    font-size: 25px;
    padding: 20px;
    border: solid white;
    font-family: sans-serif;
}
.top{
    text-align: center;
}