
body{
    background-color: wheat;
    margin: 10px;

}
hr{
    border-color: black;
    
}
#masterContainer{
    border: solid white;
    background-color:rgb(237, 162, 50);
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}
.listContainer{
    border: solid white;
    border-radius: 15px;
    background-color: wheat;
    float: left; 
    margin: 25px;
    width: 30%;
}
.listContainer h2{
    text-align: center;
}
#stepsContainer{
    border: solid white;
    border-radius: 15px;
    background-color: wheat;
    display: inline-block;
    margin: 25px;
    width:40%;
    
}
#stepsContainer h2{
    text-align: center;
}

ul li{
    padding-bottom: 10px;
    font-family: sans-serif;
}
ol li{
    padding: 10px;
    font-family: sans-serif;
}
#description{
    margin: 25px;
    text-align: center; 
    background-color: wheat; 
    border: solid white;
    border-radius: 15px;
}
#description img{
    max-width: 100%;
    height: auto;

}


#buttons{
    text-align: center;
}
.button{
    background-color:rgb(237, 162, 50);
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 10px auto;
    
}