body{
    background-color: wheat;
}
#flex-container{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color:rgb(237, 162, 50);
}
.col{
    width: 100%;
    border: solid white;
    margin: 25px;
    padding: 10px;
    font-family: sans-serif;
    background-color: wheat;
    border-radius: 25px;
    text-align: center;
    /* makes elements in container be the same size*/
    flex-basis: 100%;
    box-shadow: 5px 10px 8px 10px #f05e1b;
}
.col img{
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    
}
.col h2{
    text-align: center;
}
.col hr{
    border: solid;
    border-color: white;
}
.button{
    margin: 20px;
    font-size: 25px;
    background-color:rgb(237, 162, 50);
    border: solid white;
    color: white;
    border-radius: 25px;
    padding: 15px 32px;
    width: 200px;
    
}
}
